
        .new_teacher{
            position: absolute;
            text-decoration: none;
            background-color: rgb(240, 49, 49);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .alert {
    
            display: flex;
            justify-content: start;
            align-items: start;
            margin-bottom: 100%;
            text-wrap: nowrap;
            font-size: 200%;
            border-radius: 50px;
            padding: 2%;
            left:21%;
            animation: morphTransition 0.2s ease-in-out forwards;
        
        }
        
        @keyframes morphTransition {
            from {
                transform: scale(0);
            }
        
            to {
                transform: scale(1);
            }
        }
        
        .alert-success{
            background-color: rgb(165, 243, 165);
            color: rgb(37, 94, 37);
        }
        
        .alert-danger{
            background-color: rgb(234, 132, 132);
            color: rgb(252, 0, 0);
        }
        
