body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('./image.jpg') center/cover no-repeat;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 70px auto;
  text-align: center;
  /* background-color:  rgba(208, 206, 206, 0.383); */
  padding: 3%;
  border-radius: 30px;
}
.notice-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 60%;
  box-shadow: 0px 0px 20px rgb(32, 29, 132);
  color:rgb(221, 157, 60);
  padding: 3%;
  backdrop-filter: blur(10px);
}

.blur-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  

  z-index: -1;
}
header{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(32, 29, 132);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 157, 60);
}

h2{
  font-size: 170%;
  font-weight: bold;
}
.re{
  text-align: center;
  color: red;
}
section{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}
.clhead{
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-container {
  background-color: rgb(32, 29, 132);
  border-radius: 8px;
  padding: 2%;
  width: 80%;
  margin: 0 auto;

}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 150%;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
h2{
  text-align: center;
  background-color: rgb(32, 29, 132);
width: 84%;
padding-top: 4%;
padding-bottom: 4%;
}

.btn-submit {
  background-color: rgb(221, 157, 60);
  color: rgb(32, 29, 132);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 120%;
  width: 100%;
  font-family: comic Sans MS, serif;
  transition: all 0.3s ease-in-out;
}

.btn-submit:active {
  border-color: rgb(221, 157, 60);
  color: rgb(221, 157, 60);
  background-color: rgb(32, 29, 132);
  transform: scale(0.9);
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  padding: 1%;
  margin-top: 3%;
  margin-right: 35%;
  margin-left: 35%;
  
  animation: morphTransition 0.2s ease-in-out forwards;

}

@keyframes morphTransition {
  from {
      transform: scale(0);
  }

  to {
      transform: scale(1);
  }
}

.alert-success{
  -webkit-box-shadow: -23px 18px 46px 10px rgba(82, 246, 87, 0.7);
  -moz-box-shadow: -23px 18px 46px 10px rgba(82, 246, 87, 0.7);
  box-shadow: -23px 18px 46px 10px rgba(82, 246, 87, 0.7);
  color: rgb(9, 186, 9);
  background-color: #b0f7a4;
}

.alert-danger{
  -webkit-box-shadow: -23px 18px 46px 10px rgba(240, 75, 75, 0.7);
  -moz-box-shadow: -23px 18px 46px 10px rgba(240, 75, 75, 0.7);
  box-shadow: -23px 18px 46px 10px rgba(240, 75, 75, 0.7);
  color: rgb(255, 17, 17);
  background-color: #ff9191a1;
}
