<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result page |The Scoreboard</title>
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="static\css_dataview.css">
</head>

<body>
    <div class="back">
        <button onclick="location.href='/logout'" class="btn">logout</button>
    </div>
    <div class="container">
        <table class="t1">
            <td>St Aloysius Insitute Of Technology, Jabalpur</td>
        </table>

        <table class="student-info">
            <tr>
                {% for result in results %}
                <th>Name</th>
                <td>{{ result.student_name|upper }}</td>
                <th>Roll No</th>
                <td>{{ result.enrollment_no }}</td>
            </tr>

            <tr>
                <th>Course</th>
                <td>{{ result.course_name }}</td>
                <th>Branch</th>
                <td>{{ result.Branch}}</td>
            </tr>
            <tr>
                <th>Semester</th>
                <td>{{ result.semester}}</td>
                <th>Exam Type</th>
                <td>{{ result.exam}}</td>
            </tr>
            {% endfor %}
        </table>

        <table class="subject">
            {% for result in results %}
            <tr>
                <th>SUBJECT CODE</th>
                <th>Marks</th>
                <th>PDF</th>
            </tr>
            <tr>
                <td>{{ result.subject1}}</td>
                <td>{{ result.marks1}}</td>
                {% if result.pdf1%}
                    <td><a href="{{ result.pdf1.url}}">view pdf</a></td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
            </tr>
            <tr>
                <tr>
                    <td>{{ result.subject2}}</td>
                    <td>{{ result.marks2}}</td>
                    {% if result.pdf2%}
                    <td><a href="{{ result.pdf2.url}}">view pdf</a> </td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
            </tr>
            <tr>
                <td>{{ result.subject3}}</td>
                    <td>{{ result.marks3}}</td>
                    {% if result.pdf3%}
                    <td><a href="{{ result.pdf3.url}}">view pdf</a></td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
            </tr>
            <tr>
                <td>{{ result.subject4}}</td>
                <td>{{ result.marks4}}</td>
                {% if result.pdf4%}
                <td> <a href="{{ result.pdf4.url}}">view pdf</a></td>
                {% else %}
                <td>N/A</td>
                {% endif %}
            </tr>

            {% if result.subject5 %}
            <tr>
                <td>{{ result.subject5}}</td>
                <td>{{ result.marks5}}</td>
                {% if result.pdf5%}
                <td><a href="{{ result.pdf5.url}}">view pdf</a></td>
                {% else %}
                <td>N/A</td>
                {% endif %}
            </tr>
            {% endif %}

            {% if result.subject6 %}
                <tr>
                    <td>{{ result.subject6}}</td>
                    <td>{{ result.marks6}}</td>
                    {% if result.pdf6%}
                    <td><a href="{{ result.pdf5.url}}">view pdf</a></td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                {% endif %}

                {% if result.subject7 %}
                <tr>
                    <td>{{ result.subject7}}</td>
                    <td>{{ result.marks7}}</td>
                    {% if result.pdf7%}
                    <td><a href="{{ result.pdf5.url}}">view pdf</a></td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                {% endif %}

                {% if result.subject8 %}
                <tr>
                    <td>{{ result.subject8}}</td>
                    <td>{{ result.marks8}}</td>
                    {% if result.pdf8%}
                    <td><a href="{{ result.pdf5.url}}">view pdf</a></td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                {% endif %}

                {% if result.subject9 %}
                <tr>
                    <td>{{ result.subject9}}</td>
                    <td>{{ result.marks9}}</td>
                    {% if result.pdf9%}
                    <td><a href="{{ result.pdf5.url}}">view pdf</a></td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                {% endif %}

                {% if result.subject10 %}
                <tr>
                    <td>{{ result.subject10}}</td>
                    <td>{{ result.marks10}}</td>
                    {% if result.pdf10%}
                    <td><a href="{{ result.pdf5.url}}">view pdf</a></td>
                    {% else %}
                    <td>N/A</td>
                    {% endif %}
                </tr>
                {% endif %}


            {% endfor %}
        </table>


        <div>

            <table class="Result">
                <tr>
                    <th>Result</th>
                    <th>Total Marks</th>
                </tr>
                {% for result in results %}
                <tr>
                    <td>{{ result.res }}</td>
                    <td>{{ result.Total }}</td>
                </tr>
                 {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <button onclick="window.print()">Print</button>

</body>

</html>