<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="static\forgotStyle.css">
</head>
<body>
    <form method="post" action=" ">
        {% csrf_token %}
        <div class="container">
            <div class="input">
                <div class="title"><b>Change password</b></div><br>
                {% if messages %}
                <p class="messages">
                    {% for message in messages %}
                    <span{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
                        {% endfor %}
                </p>
                {% endif %}
                <input type="password" name="password1" placeholder="New password" autocomplete="off" required><br>
                <input type="password" name="password1" placeholder="Re-enter password" autocomplete="off" required><br>
            </div>
            <button type="submit">Login</button>
            <div class="note">
        </div>
    </form>
</body>

</html>