<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password | The Scoreboard</title>
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="\static\css_forgot.css">

</head>
<body>
    <div class="main-container">
        {% if messages %}
        <div class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <section class="container-content">
            <form action=""  method="post">
                {% csrf_token %}
                
                <h1 class="title1" id="student">Change password</h1>
                
                <div class="input">
                    <label for="userlogin" class="new-pass">New password</label><br>
                    <span1></span1>
                    <input type="password" id="userpass" name="password" class="password1" required autofocus autocomplete="off"><br>
                    <span3 class="passReavealBtn">🙂</span3>
                    <label for="userpass" class="pass-again">Password again</label><br>
                    <span2></span2>
                    <input type="password" id="userpass1" name="confirm_password" class="password2" required autocomplete="off"><br>
                    <button type="submit" class="btn">Submit change</button>
                </div>
            </form>
        </section>
    </div>
   <script>
    
    const button=document.querySelector(".passReavealBtn");
        const pass = document.querySelector("#userpass");
        const pass1 = document.querySelector("#userpass1");
        let show = true;


        button.addEventListener('click' , ()=>{
            if (show){
                pass.type="text";
                if(pass1){
                pass1.type="text";
                }
                button.innerText="😑";
                show=false;
            }else{
                pass.type="password";
                if(pass1){
                pass1.type="password";
                }
                button.innerText="🙂";
                show=true;
            }
        });
   </script>
</body>

</html>