<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static\css_index.css">
</head>

<body>
  <section>
    <div class="img-wrapper"> </div>
    <div class="curved-div">
      <div>
        <h1>NOTICE BOARD</h1>
        <p>{{notice.notice}}</p>
      </div>
    </div>
    <div class="buttons">
      <a href="/signupstudents" class="b1"> Sign up as a student </a>
      <a href="/student_login" class="b2">Sign in </a>
    </div>
  </section>

</body>

</html>