<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="static\css_index.css">
</head>

<body>
  <section>
    <div class="img-wrapper"> </div>
    <div class="curved-div">
      <div>
        <div class="notice">
        <h1>NOTICE BOARD</h1>
      </div>
        <p>{{notice.notice}}</p>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="buttons">
      <button onclick="location.href='/signupstudents'"  class="btn" >Sign up (Student)</button>
      <button onclick="location.href='/student_login'"  class="btn" >Sign in</button>
    </div>
  </section>

</body>

</html>