{% extends 'navigation.html' %}

{% block page_css %}
<link rel="stylesheet" href="static\css_input_data.css">
{% endblock page_css %}

{% block title %}
Fill result data
{% endblock title %}

{% block body %}

<form method="post" action=" " enctype="multipart/form-data" id="student-form">
    {% csrf_token %}


    <div class="form-container">
        <header>
            <h2>Enter the data here</h2>
        </header>
        {% if messages %}
        <div
            class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <table id="subjects-table">
            <tbody>
                <tr>
                    <th><label for="student_name">Student Name:</label></th>
                    <td><input type="text" name="Name" class="input-box" required autofocus autocomplete="off"></td>

                    <th> <label for="enrollment_no">Enrollment No:</label></th>
                    <td> <input type="text" name="Enrollment" class="input-box" required autocomplete="off"></td>

                    <th><label for="semester">Branch:</label></th>
                    <td>
                        <select name="branch" id="branch" required>
                            <option value="">--Select Branch--</option>
                            <option value="Computer science engineering">CSE</option>
                            <option value="Machenical engineering">ME</option>
                            <option value="Civil engineering">CE</option>
                            <option value="Electronics engineering">EX</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="course_id">Course ID:</label> </th>
                    <td>
                        <select name="c_id" id="c_id" required>
                            <option value="">--Select course id--</option>
                            <option value="11">for B.Tech</option>
                            <option value="12">for B.E.</option>
                            <option value="13">for B.Sc.</option>
                            <option value="14">for B.com</option>
                        </select>
                    </td>

                    <th><label for="course_name">Course Name:</label></th>
                    <td>
                        <select name="c_name" id="c_name" required>
                            <option value="">--Select course name--</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="B.E.">B.E.</option>
                            <option value="B.Sc">B.Sc.</option>
                            <option value="B.com">B.com</option>
                        </select>
                    </td>

                    <th><label for="semester">Semester:</label></th>
                    <td>

                        <select name="sem" id="sem" required>
                            <option value="">--Select semster--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for=""><b>_________________________________________________________</b></label>
                    </th>
                    <td></td>
                    <th><label for="exam">Exam:</label></th>
                    <td>
                        <select name="exam_type" id="exam_type" required>
                            <option value="">--Select exam type--</option>
                            <option value="MST-1">MST-1</option>
                            <option value="MST-2">MST-2</option>
                            <option value="Final">Final</option>
                        </select>
                    </td>
                    <th>
                        <label for=""><b>___________________________________________________</b></label>
                    </th>
                    <td></td>
                </tr>




                <tr>
                    <th> <label for="subject_name">Subject Name:</label></th>
                    <td> <input type="text" name="sub1" class="input-box" required autocomplete="off"></td>

                    <th><label for="subject_marks">Marks:</label></th>
                    <td><input type="number" name="m1" class="input-box" required autocomplete="off"></td>

                    <th><label for="subject_marks">PDF:</label></th>
                    <td><input id="file-upload" type="file" name="pdf_file1" class="input-box" autocomplete="off"></td>

                </tr>

                <tr>
                    <th> <label for="subject_name">Subject Name:</label></th>
                    <td> <input type="text" name="sub2" class="input-box" required autocomplete="off"></td>

                    <th><label for="subject_marks">Marks:</label></th>
                    <td><input type="number" name="m2" class="input-box" required autocomplete="off"></td>

                    <th><label for="subject_marks">PDF:</label></th>
                    <td><input id="file-upload" type="file" name="pdf_file2" class="input-box" autocomplete="off"></td>

                </tr>

                <tr>
                    <th> <label for="subject_name">Subject Name:</label></th>
                    <td> <input type="text" name="sub3" class="input-box" required autocomplete="off"></td>

                    <th><label for="subject_marks">Marks:</label></th>
                    <td><input type="number" name="m3" class="input-box" required autocomplete="off"></td>

                    <th><label for="subject_marks">PDF:</label></th>
                    <td><input id="file-upload" type="file" name="pdf_file3" class="input-box" autocomplete="off"></td>

                </tr>


                <th> <label for="subject_name">Subject Name:</label></th>
                <td> <input type="text" name="sub4" class="input-box" required autocomplete="off"></td>

                <th><label for="subject_marks">Marks:</label></th>
                <td><input type="number" name="m4" class="input-box" required autocomplete="off"></td>

                <th><label for="subject_marks">PDF:</label></th>
                <td><input id="file-upload" type="file" name="pdf_file4" class="input-box" autocomplete="off"></td>

                <td><button type="button" class="add-subject-btn" id="add-subject" title="Add more subjects">+</button>
                </td>
                </tr>



                <tr>
                    <th><label for="result">Final verdict:</label></th>
                    <td><input type="text" name="result" class="input-box" placeholder="PASS or FAIL" required autocomplete="off"></td>

                    <th><label for="total">Total marks:</label></th>
                    <td><input type="number" name="total" class="input-box" required autocomplete="off"></td>
                </tr>

            </tbody>
        </table>

        <div class="submit-btn">
            <button type="submit" id="submit-btn">Submit</button>
        </div>
    </div>
</form>
<script src="static\upload_data.js"></script>
{% endblock body %}