{% extends 'navigation.html' %}

{% block page_css %}
<link rel="stylesheet" href="static\css_input_data.css">
{% endblock page_css %}
    
{% block title %}
    Fill result data
{% endblock title %}

{% block body %}
    
    <form method="post" action=" " enctype="multipart/form-data">
        {% csrf_token %}
        
        {% if messages %}
        <div class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="container">
            <a href="/signupteachers" class="new_teaacher">signup new teacher</a><br><br>
            Student Name: <input type="text" name="Name" id="Name" required><br>
            <br>
            Enrollment number: <input type="text" name="Enrollment" id="Enrollment_no" required> <br>
            <br>
            Course id:
            <select name="c_id" id="c_id">
                <option value="">--Select your course id--</option>
                <option value="11">for B.Tech</option>
                <option value="12">for B.E.</option>
                <option value="13">for B.Sc.</option>
                <option value="14">for B.com</option>
            </select><br>
            <br>
            Course Name:
            <select name="c_name" id="c_name">
                <option value="">--Select your course name--</option>
                <option value="B.Tech">B.Tech</option>
                <option value="B.E.">B.E.</option>
                <option value="B.Sc">B.Sc.</option>
                <option value="B.com">B.com</option>
            </select><br>
            <br>
            Branch:
            <select name="branch" id="branch">
                <option value="">--Select the Branch--</option>
                <option value="Computer science engineering">CSE</option>
                <option value="Machenical engineering">ME</option>
                <option value="Civil engineering">CE</option>
                <option value="Electronics engineering">EX</option>
            </select><br>
            <br>
            semester:
            <select name="sem" id="sem">
                <option value="">--Select semster--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select><br>
            <br>
            Exam Type:
            <select name="exam_type" id="exam_type">
                <option value="">--Select exam type--</option>
                <option value="MST-1">MST-1</option>
                <option value="MST-2">MST-2</option>
                <option value="Final">Final</option>
            </select><br>
            <br>
            Subject1 : <input type="text" name="sub1" id="" placeholder="Enter the subject name " required>
            Marks1 : <input type="text" name="m1" id="" placeholder="Enter the marks of subject 1" required><br>
            PDF of subject1: <input type="file" name="pdf_file1" id="pdf_file1"><br>
            <br>
            Subject2 : <input type="text" name="sub2" id="" placeholder="Enter the subject name " required>
            Marks2 : <input type="text" name="m2" id="" placeholder="Enter the marks of subject 2" required><br>
            PDF of subject2: <input type="file" name="pdf_file2" id="pdf_file2"><br>
            <br>
            Subject3 : <input type="text" name="sub3" id="" placeholder="Enter the subject name " required>
            Marks3 : <input type="text" name="m3" id="" placeholder="Enter the marks of subject 3" required><br>
            PDF of subject3: <input type="file" name="pdf_file3" id="pdf_file3"><br>
            <br>
            Subject4 : <input type="text" name="sub4" id="" placeholder="Enter the subject name " required>
            Marks4 : <input type="text" name="m4" id="" placeholder="Enter the marks of subject 4" required><br>
            PDF of subject4: <input type="file" name="pdf_file4" id="pdf_file4"><br>
            <br>
            Subject5 : <input type="text" name="sub5" id="" placeholder="Enter the subject name ">
            Marks5 : <input type="text" name="m5" id="" placeholder="Enter the marks of subject 5"><br>
            PDF of subject5: <input type="file" name="pdf_file5" id="pdf_file5"><br>
            <br>
            Total: <input type="text" name="total" id="total" required><br>
            <br>
            result verdict: <input type="text" name="result" id="result" placeholder="PASS or FAIL" required><br>
            <br>
            <hr>
            <button type="submit">Submit</button>
        </div>
    </form>
    {% endblock body %}