{% extends 'navigation.html' %}

{% block title %}
Update Notice Board
{% endblock title %}

{% block page_css %}
  <link rel="stylesheet" href="static\css_noticeUpdate.css">
{% endblock page_css %}

{% block body %}
<form action=" " method="post">
    {% csrf_token %}

    
<div class="main-container">
<div class="container">
            <div class="notice-form">
                <div class="heading">
                <h2>Notice update portal</h2>
            </div>
            {% if messages %}
    <div
    class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
                <div class="Textsizechange">
                    <button class="decrease-btn">-</button>
                    <button class="increase-btn">+</button>
                </div>
                <textarea id="textarea" name="updatenotice" placeholder="Enter your notice here..." rows="25" cols="45"
                    required>{{notice.notice}}</textarea><br>
                <button type="submit">Update</button>
            </div>
        </div>
    </div>
    </form>
    <script src="static\noticeUpdate.js"></script>
        {% endblock body %}