<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        p{
            color: black;
        }
    </style>
</head>
<body>
    <p>Hello,{{username}}<br>
        You are receiving this email because a password reset request was made for your account.</p>
    <p>Please click the following link to reset your password:</p>
    <a href="{{ reset_link }}">{{ reset_link }}</a>
    <p>If you did not request a password reset, you can safely ignore this email.</p>
    <p>Thank you,</p>
    <p>The Scoreboard</p>
</body>
</html>
