<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select |The Scoreboard</title>
  <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="static\style_selection.css">

</head>

<body>
  <form action="" method="post">
    {% csrf_token %}
  <header>
    <div class="clhead">
    <section><b>St. Aloysius Insitute Of Technology,Jabalpur</b><section>
    <div class="re"><b>Results</b></div>
    </div>
</header>
{% if messages %}
<div class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
{% for message in messages %}
{{ message }}
{% endfor %}
</div>
{% endif %}
<div class="blur-container"></div>
<div class="container">
<div class="notice-form">
<h2>Please Provide Your Details</h2>
<div class="form-container">
  <form id="courseForm">
    <div class="form-group">
      <label for="course">Course:</label>
      <select id="course" name="course" required>
        <option value="">---Select your course---</option>
      <option value="11">B.Tech</option>
      <option value="12">B.E.</option>
      <option value="13">B.Sc</option>
      <option value="14">B.com</option>
        
      </select>
    </div>
    <div class="form-group">
      <label for="exam">Exam:</label>
      <select id="exam" name="exam_type" required>
        <option value="">---Select Exam type---</option>
      <option value="MST-1">MST-1</option>
      <option value="MST-2">MST-2</option>
      <option value="Final">Final</option>
        
      </select>
    </div>
    <div class="form-group">
      <label for="semester">Semester:</label>
      <select id="semester" name="semester" required>
        <option value="">---Select Semester---</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
        
        
      </select>
    </div>
    <button type="submit" class="btn-submit">Submit</button>
  </form>
</div>
</div>
</div>
</form>

</body>
</html>