<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Signup |The Scoreboard</title>
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="static\css_teachers_signup.css">
</head>

<body>
    <main>
        <form method="post" action=" ">
            <div class="container">
            {% csrf_token %}
            <div class="heading">
                <p>Teacher's Signup form </p>
            </div>
            <div class="input-container">
                {% if messages %}
                <div class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="firstName">First name</label><br>
                                <input type="text" id="first" name="first" required autofocus autocomplete="off">
                            </td>

                            <td>
                                <label for="lastName">Last name</label><br>
                                <input type="text" id="last" name="last" required autocomplete="off">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="userName">Username</label><br>
                                <input type="text" id="username" name="username" required autocomplete="off">
                            </td>

                            <td>
                                <label for="email">Email</label><br>
                                <input type="email" id="email" name="email" required autocomplete="off">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="password">Password</label><br>
                                <input type="password" id="userpass" name="password" required autocomplete="off">
                                <span3 class="passReavealBtn">🙂</span3>
                            </td>

                            <td>
                                <label for="confirmPassword">Confirm password</label><br>
                                <input type="password" id="userpass1" name="confirm_password" required autocomplete="off">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                        <th>
                            <td>
                                <input type="radio" name="user_type" id="Teacher" value="Teachers" required>
                            </td>
                            <td>
                                <label for="declaration" class="informatiom">I declare that I'm an authorised and registerd faculty with St.
                                    Aloysius institute of technology and all the informatiom given here is true as per
                                    my
                                    knowledge </label>
                            </td>
                        </th>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Sign up</button>
            </div>


        </div>
        </form>
    </main>
    <script src="script_teachers_signup.js"></script>
    <script src="static\passReaveal.js"></script>
</body>

</html>