
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="static\css.student_login.css">
    </head>
    
    <body>
        <div class="masin-container">
            <section class="container-content">
                {% if messages %}
                <div class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <form action=""  method="post">
                    {% csrf_token %}
                    
                    <a href="/student_login" class="title1" id="student">Students login </a>
                    <a href="teachers_login" class="title2" id="teacher">Teachers login </a>
                    
                    <div class="input">
                        <label for="userlogin" class="Enrollment">Enrollment Number</label><br>
                        <span1></span1>
                        <input type="text" id="userlogin" name="username" required><br>
                        <label for="userpass" class="password">Password</label><br>
                        <span2></span2>
                        <input type="password" id="userpass" name="password" required><br>
                        <button type="submit" class="btn">May I come in ?</button>
                        <a href="verify_user" class="Forgot-password">Forgot Password</a>
                    </div>
                </form>
            </section>
        </div>
    </body>

</html>