<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static\style_teachers_login.css">
</head>

<body>
    <div class="masin-container">
        {% if messages %}
            <div class="alert {% for message in messages %}{% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %}{% endfor %}">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        <section class="container-content">
            <form action="" method="post">
                {% csrf_token %}
                <a href="/student_login" class="two">Students login </a>
                <a href="teachers_login" class="one">Teachers login </a>

                <div class="input">
                    <label for="userlogin" class="username">username</label><br>
                    <span1></span1>
                    <input type="text" id="userlogin" name="username" required autofocus autocomplete="off"><br>
                    <label for="userpass" class="password">password</label><br> 
                    <span2></span2>
                    <input type="password" id="userpass" name="password" required><br>
                    <button class="btn">May I come in ?</button>
                    <a href="verify_user" class="Forgot-password">Forgot Password</a>
                </div>
            </form>
        </section>

    </div>

</body>

</html>