<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
    <link rel="stylesheet" href="static\verifyStyle.css">
</head>

<body>
    <form method="post" action=" ">
        {% csrf_token %}
        <div class="container">
            <div class="input">
                <div class="title"><b>Verify Email</b></div><br>
                <!-- {% if messages %}
                <p class="messages">
                    {% for message in messages %}
                    <span{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
                        {% endfor %}
                </p>
                {% endif %} -->
                <input type="email" name="password1" placeholder="Enter registered Email" autocomplete="off" required><br>
            </div>
            <button type="submit">Login</button>
            <div class="note">
        </div>
    </form>
</body>

</html>